header {  
    height: 70px;
    padding: 1rem;
    color: white;
    background: #1F3256;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.hd{
    text-decoration: none;
    color: white;
}
  
body{
    margin: 0;
    outline: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    min-height: 300px; 
    /* background: url('../img/grass.jpg'); */
    background-size:contain;
}

.icon {
    position:absolute;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 2.75em;
    font-weight: bold;
    transition: 0.24s 0.2s;
    background: url('../img/cabbage.png') no-repeat;
    background-color: #0F611A;
    margin-top: 6%;
    margin-left: 5%;
}

/* 작물아이콘 */
.crop {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 17%;
    flex-wrap: wrap;
    width: 80vw;
}

.hicon{
    display: flex;
}

.btn {
    width: 50px;
    height: 20px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: gray;
    background-size: 200% auto;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

.btnb{
    background-color: #426AB2;
    color: white;
}

.btn:hover{
    background-color: #426AB2;
}

/* 장소아이콘 */

.place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;
}

.pbtn {
    width: 50px;
    height: 20px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: gray;
    background-size: 200% auto;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

.pbtnd,
.pbtnj,
.pbtng,
.pbtnb,
.pbtns{
    background-color: goldenrod;
}

.pbtn:hover{
    background-color: goldenrod;
}

/* 팝업창시작 */

.openBtn{
    width: 80px;
    height: 20px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #0F611A;
    background-size: 200% auto;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    float: right;
    margin-right: 2%;
}

.openBtn:hover{
    background-color: gray;
}

.closeBtn,
.checkBtn{
    padding: 10px;
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: gray;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    float: right;
    margin-top:4%;
}

.closeBtn{
    margin-left: 1%;
    margin-right: 3%;
}

.popupform{
    margin-top: 3%;
    margin-left: 2%;
    font-size:large;
}

/* 팝업창끝 */

.contents{
    display: flex;
}

.crt{
    display: flex;
    margin-left: 17%;
}

.content{
    display: flex;
}

.title,
.title2{
    width: 525px;
    height: 20px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
    background-color: gray;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}


.title2{
    background-color: gray;
    width: 630px;
}

.chart,
.num{
    display: flex;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-left: 9%;
}
/* 팝업에서 들어온 아이들 */
.pli{
    display: flex;
}

.name{
    width: 350px;
}

.inname{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-left: 15%;
}

.innname{
    margin-left: 30%;
}

.content{
    display: flex;
}

.coltitle,
.june,
.july,
.august{
    width: 100px;
    height: 360px;
    margin: 5px;
    padding: 15px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}

.coltitle{
    width: 170px;
    background-color: goldenrod;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.colname{
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: small;
}

.name1{
    margin-top: 1px;
}

.ip{
    text-align: center;
    text-transform: uppercase;
}

.checkBtn2,
.checkBtn{
    margin: 5px;
    padding: 10px;
    width: 55px;
    text-align: center;
    font-size: small;
    background-color: gray;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    float: right;
    border: none;
    outline: none;
}

.checkBtn2{
    width: 60px;
}

.left{
    flex-direction: column;
}

/* 팝업에서 온 아이들 끝 */

.chart{
    width: 690px;
    height: 450px;
    background-color: lightgray;
    margin-left: 1%;
}

.numname{
    width: 650px;
}

.inname{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-left: 32%;
}

.pricename{
    margin-left: 20%;
}

.chartname{
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.items2,
.items{
    width: 530px;
    height: 40px;
    margin: 10px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 20px;
}

.items2{
    background-color: #426AB2;
    color: white;
    height: 20px;
}

.in2,
.in{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-left: 1%;
    line-height: 40px;
}

.in2{
    line-height: 20px;
    margin-left: 8%;
}

.inin2{
    margin-left: 21%;
}

.inin{
    margin-left: 8%;
}

li{
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none;
}

.avg{
    display: flex;
}

.name{
    width: 170px;
    justify-content: center;
    text-align: center;
}

.cchart{
    border-radius: 10px;
    padding: 3px;
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
}

.price1{
    margin-left: 7%;
}